.feelist{

}

.slotdisp{
    margin: 20px 10px;
}

.addrese{
    background: white;
    width: 90%;
    margin: 10px auto;
    padding: 11px;
    font-size: 0.9em;
}

.addname{
    font-weight: 600;
    color: blue;
    font-size: 0.9em;
}

.feeknow{
    
    width: 90%;
    margin: 10px auto;
    font-size: 0.8em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
    background: white;
    font-weight: 500;
    border-radius: 4px;
    box-shadow: 0 0 4px #80000075;
}

.addname::after{
    content: '';
    margin: 4px auto;
    margin-bottom: 10px;
    width: 100px;
    display: block;
    height: 1px;
    background-color: blue;
}

.blockname{
    color: gray;
    font-size: 0.9em;
}

.vaccinfee{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    font-size: 0.8em;
    margin: 0 auto;
    width: 90%;
}

.vaccH, .vacc{
    text-transform: uppercase;
    font-size: 0.9em;
    background: white;
    padding: 6px;
    border-radius: 1px;
    box-shadow: 0 0 1px maroon;
}

.vaccH{
    font-weight: 700;
    background-color: #ffe2e2;
}

.paidr{
    color: blue;
    font-size: 0.9em;
}

.ferts, .terts{
    font-size: 0.9em;
    font-weight: 800;
    background: repeating-linear-gradient(
        45deg
        , #fce4e4, white 7px);
            padding: 7px;
}

.proceed{
    margin-top: 10px;
    background: white;
    outline: none;
    border: none;
    padding: 8px;
    border-radius: 4px;
    box-shadow: 0 0 8px #d89494;
    transition: all 0.3s;
}

.proceed:disabled{
    box-shadow: 0 0 3px #d89494;
    transition: all 0.3s;
    background: #ffebeb;
    color: gray;
}



.terts{
    background: none;
}

.detailbenef{
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    margin-top: 10px;
}

.selectBene, .selectBene1{
    padding: 3px;
    font-size: 0.9em;
    font-weight: 500;
    color: #c59a9a;
}

.selectBene1{
    margin-top: 10px;
    font-size: 0.8em;
}

.datefor{
    font-size: 0.8em;
    background: white;
    width: 208px;
    margin: 10px auto;
    font-weight: 700;
    padding: 10px;
}

.datefor span{
    color: gray;
    font-weight: 400;
}

.beneflist{
    font-size: 0.9em;
    display: grid;
    grid-template-columns: 1fr;
    /* border: 1px solid; */
}

.benefnam{
    height: 35px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    border: 1px solid gray;
    border-bottom: none;
    cursor: pointer;
}

.benefnam:last-child{
    border-bottom: 1px solid gray;
}

.selectedbenefnam{
    background: white;
    border-right:  1px solid white;
    cursor: unset;
}

.benefdetails{
    border:  1px solid gray;
    border-left: none;
}

.benefdetails{
    background: white;
    padding: 10px;
}

.checkits{
    display: flex;
    align-items: center;
    font-size: 1.6em;
    margin: 1px;
    height: 35px;
    margin-right: 4px;
    width: 30px;
    justify-content: center;
}
@media screen and (max-width: 1000px) {
    .detailbenef{
        grid-template-columns: 0.8fr 1fr;
        font-size: 0.7em;

    }
    .checkits{
        font-size: 1.1em;

    }
.vaccinfee{
    width: 60%;
    font-size: 0.8em;

}

.feeknow{
    width: 89%;
}



    .feelist{

    }

}