

.fgt{
    font-size: 5em;
    font-weight: 100;
    color: #a56b74;
    text-align: center;
}

@media screen and (max-width: 1000px) {
    .fgt {
        font-size: 2em;
        color: #f3dade;
      }
}