.grfsd{
    display: grid;
    grid-template-columns: 3.5fr 1fr 1fr 1fr 1fr 1fr;
    font-size: 0.8em;
}

.fresd{
    font-weight: 500;
    font-size: 0.9em;
    margin-bottom: 10px;
}

.kla{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    width: 52%;
    margin: 0 auto;
}


.tabs{
    /* box-shadow: 0 0 11px #964141;
      border-radius: 5px; */
      height: 33vh;
      padding: 5px;
      overflow-y: auto;
  }

.uih{
    font-weight: 500;
    top: 0;
    position: sticky;
}

.uih, .ui{
    border-bottom: 1px solid #f7e9e9;
    border-left: 1px solid #f7e9e9;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hjab{
    position: sticky;
    top: -7px;
    background-color: white;
    z-index: 2;
}

.viab{
    /* width: 95vw; */
    padding-right: 18px;
    font-size: 0.9em;
}

.uih:first-child{
    border-left: none !important;
    /* background-color: rgb(238, 105, 105); */
}

.tys{
    position: sticky;
    left: 0;
    background: white;
    z-index: 1;
}



@media screen and (max-width: 1000px) {

    .grfsd{
        grid-template-columns: 2.5fr 1fr 1fr 1fr 1fr 1fr;
    }
    .tabs{
        width: 85vw;

    }
    .viab{
        width: 95vw;
    }

}