.grfsd {
    display: grid;
    grid-template-columns: 3.5fr 1.4fr 1.4fr 1.4fr 1fr 1fr 1fr 1fr 1fr;
    font-size: 0.9em;
  
    position: relative;
    grid-gap: 10px;
}


/* .fresd::after{
    content: '';
    display: block;
    height: 1px;
    width: 50px;
    background-color: coral;
    margin: 2px auto;
    margin-bottom: 0;
} */






.retractKle {
    animation: retractKle 0.5s linear;
}

@keyframes retractKle {
    0% {
        height: 20vh;
        opacity: 1;
    }

    100% {
        height: 0;
        opacity: 0;
    }

}



.ghfd {
    display: inline-block;
    margin: 0 8px;
    font-size: 0.8em;
}

.ghfd label {
    margin: 0px 9px;
    color: black;
}

.ghfd input {
    margin-top: 7px;
    margin-left: -6px;
    height: 12px;
}

.hj7 {
    background-color: #ffe7e7 !important;
    border-bottom: 1px solid #efcaca !important;
    /* font-weight: 500 !important; */
    border-right: 1px solid #efcaca !important;
    z-index: 3 !important;
    
}


.tabs {
    height: 44vh;
    overflow-y: auto;
    margin: 0 20px;
    border-radius: 6px;
    
}


.uih, .ui {
    min-height: 5vh;
    border-bottom: 1px solid #f7e9e9;
    border-right: 1px solid #f7e9e9;
    padding: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    word-break: break-word;
    border-radius: 4px;
    box-shadow: 0 0 3px rgb(245 218 218);
    color: black !important;
    font-weight: 500;
    /* border: 1px solid #fdb9b9; */
    
    /* font-size: 0.9em; */
}


.uih{
background-color: #f8ecee;
color: maroon;
}

.ui{
    background-color:#fcf3fc;
}




.viab {
    /* width: 95vw; */
    /* padding-right: 18px; */
    font-size: 0.9em;
}

.uih:first-child {
    border-left: none !important;
    /* background-color: rgb(238, 105, 105); */
}

/* .tys {
    position: sticky;
    left: 0;
    background: white;
    z-index: 4 !important;
} */

/* .as4 {
    z-index: 1 !important;
} */

.filt6 {
    width: 200px;
    background: white;
    font-size: 0.8em;
    border-radius: 8px;
    box-shadow: 0 0 2px #6060f1;
    margin: 13px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: fixed;
    z-index: 2;
    bottom: 67px;
}

.afilt6, .bfilt6{

    cursor: pointer;
    border-right: 1px solid gray;
    padding: 11px 3px;
    color: blue;
    display: flex;
    justify-content: center;
    font-weight: 800;
    font-size: 0.9em;

}

.filt7{display: none;}

.filticon{
    color: blue;
    font-size: 1.1em;
    margin-left: 4px;
    margin-top: 1px;
}


.bfilt6{
    border-right: none;
}

.bookn {
    background-color: #ffe7e7;
    font-size: 0.9em;
    font-weight: 500;
    padding: 3px;
    border-radius: 2px;
    cursor: pointer;
    border: 0.4px solid #f1c1c1;
    color: maroon;
}



.uih {
    font-weight: 700 !important;
    top: 0;
    position: sticky;
    color: maroon !important;
}

.stickToIt{
    background: #f8ecee;
    font-weight: 500;
    color: maroon !important;
}

.filterload{
    height: 100vh;
    background-color: #0a0a0ac4;
    width: 100vw;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

 
  


@media screen and (max-width: 1000px) {

    .filt6{
        bottom: 12px;
        display: none;
    }
    .filt7{
        display: block;
    }

    .fixfilter1{
        /* left: 33vw;
        top: 39vh; */
        
    bottom: 12vh;

      }
    
      .fixfilter2{
       bottom: 3vh;
      }

    .grfsd {
        grid-template-columns: 2fr 1.8fr 1.6fr 1.5fr 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 7px;
    }

    .ui, .uih{
        /* box-shadow: 0 0 3px rgb(238 105 105 / 28%); */
    }

    .tabs {
        width: 85vw;
        height: 100%;
        margin: 0 10px;
        overflow: hidden;
    }

    /* .viab {
        width: 163vw;
    } */

    .ghfd {
        margin: 0 1px;
        font-size: 0.75em;
    }



    .hjab {
        /* position: sticky;
        top: 0; */
        width: 160vw;
        height: 100%;
        overflow-x: scroll;
        overflow-y: visible;
        background-color: white;
        z-index: 2;
        font-size: 0.9em;
        margin-bottom: 7px;
    }

    .viab{
        height: 100%;
        overflow-x: scroll;
        overflow-y: visible;
        font-size: 0.9em;
    }

    .hj7 {
        /* font-weight: 400 !important; */
    }
    /* .nmb {
        font-weight: 500;
        top: 0;
        position: sticky;
    } */




}