

.titlbenf1,
.titlbenf2 {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    box-shadow: inset 0 0 3px maroon;
    margin: 12px;
    padding: 14px;
    font-size: 0.8em;
    font-weight: 500;
    text-align: left;
    border-radius: 3px;
    background-color: white;
    width: 44vw;
    margin: 10px auto;
}
.titlbenf1{
    font-weight: 600;
    font-size: 0.9em;
    display: flex;
    justify-content: space-between;
}

.titlbenf2 {
    font-size: 0.75em;
    display: block;
    position: relative;
    top: -15px;
    box-shadow: inset 0 -2px 3px maroon;
    font-weight: 400;
    overflow: hidden;
    animation: titlbenf2 0.5s linear;
}


@keyframes titlbenf2 {
    0%{
        height: 7vh;
    }
    100%{
        height: 14vh;
    }
}

.nmag{
    font-size: 0.8em;
    font-weight: 500;
    margin: 20px auto;
}

.dose4f{
    position: absolute;
    top: 11px;
    right: 12px;
    font-size: 2em;
}

.nopi{
    box-shadow: 0 0 9px #80000052;
    padding: 10px;
    margin: 12px 0;
    border-radius: 4px;
}

.kopi{
    display: flex;
    justify-content: space-between;
}

.opscont{
    /* width: 74%; */
    /* text-align: right; */
}

.ops{
/* padding-bottom: 10px; */
}

.ops1{
    margin-top: 13px;
}

.ops2{
font-size: 2em;
}

.vots{
    margin-left: 5px;
    color: mediumblue;
    cursor: pointer;
}

.myinf{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background: #fff1f1b0;
    padding: 13px;
    font-weight: 600;
    color: black;
}

.extras{
    font-size: 0.7em;
    margin: 4px;
}

.deng{
    color: red;
}

.voicet{
    border: 1px solid cornsilk;
    background: white;
    padding: 8px;
    border-radius: 5px;
    box-shadow: 0 0 4px #f3bebe;
    font-size: 0.6em;
    font-weight: 600;
}

@media screen and (max-width: 1000px) {

    .voicet{
        margin: 0;
        margin-top: 3px;
        display: inline-block;
        padding: 5px;
        margin-left: -4px;
        margin-right: 10px;
    }

    .voic{
        display: none;
    }

    .titlbenf1,
    .titlbenf2 {
        width: 84vw;
    }

    .titlbenf1{
        font-size: 0.8em;
    }

    .bonji{
        display: block;
    }

    .myinf{
        font-size: 0.92em;
    }
.ops{
    padding-bottom: 10px;
    font-size: 0.9em;
}

.ops2{
    font-size: 1.5em;
}
}