.App {
  background: url(assets/c.jpg) repeat fixed center center;
  background: linear-gradient(to bottom, #800622d9 58%, white 50%), url(assets/c.jpg) repeat fixed center center;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.backto{
  margin-bottom: 20px;
  border: none;
  background: white;
  font-size: 0.7em;
  font-weight: 600;
  color: rgb(212, 52, 52);
  cursor: pointer;
animation: backto 5s infinite linear;
position: relative;
}

@keyframes backto {
  0%{
    left: 0px;
  }
  2%{
    left: -5px;
  }
  4%{
    left: 3px;
  }
  6%{
    left: -2px;
  }
  10%{
    left: 0px;
  }
  100%{
    left: 0;
    text-shadow: 0 0 2px maroon;
  }
  
}

.backto::after{
  content: '';
  display: block;
  margin-top: 2px;
  height: 1px;
  background-color: rgb(212, 52, 52);
  transition: all 0.3s;
}

.backto:hover::after{
  visibility: hidden;
  transition: all 0.3s;
}

.loader{
  height: 100vh;
  background-color: #0a0a0ac4;
  width: 100vw;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999999999;
}

.loaderIcon{
  font-size: 6em;
  color: white;
  animation: loaderIcon 5s linear infinite;
  position: relative;
  /* text-shadow: 9px 4px 4px #adadad; */
  transition: all 1s;
}

@keyframes loaderIcon {
  0%{
    transform: rotate(0);
  }
  25%{
    transform: rotate(360deg);
  }  
  50%{
    transform: rotate(-180deg);
  }
  100%{
    transform: rotate(180deg);
  }
}

.littleInf{
  font-weight: 500;
}

.articleBody {
  background-color: white;
  overflow-x: hidden;
  overflow-y: auto;
  height: 86vh;
  width: 86vw;
  margin: 7vh 7vw;
  border-radius: 16px;
  box-shadow: 0 0 24px #800622;
  text-align: center;
}

.artic1, .artic2, .artic3, .artic4{
  padding: 20px 0;
  text-align: center;
  margin: 0 10px;
}

.artic2, .artic3, .artic4{
  background: #fff3f3;
  /* height: 44vh; */
  border-radius: 20px;
  box-shadow: 0px -3px 4px #e6e3e3;
}

.artic2{
  height: 44vh;
  bottom: -2vh;
    position: relative;
}

.artic3{
  
/* margin-bottom: 20px; */
}

.artic4{
background: white;
}

.mainArticle{
  height: 78vh;
  overflow-y: auto;
}

.artic3{
  /* height: 45vh;
  overflow-y: auto; */
  /* margin-top: -40px; */
}


.expandedArtic3{
  position: absolute;
  top: 16vh;
  width: 61vw;
  height: 75vh;
  box-shadow: 0px -3px 8px #e8b1b1;
  border-top: 1px solid;
  animation: expandedArtic3 0.5s linear;
}

@keyframes expandedArtic3 {
  0%{
    top: 46vh;
  }
  100%{
    top: 16vh;
  }
}

.expbtn{
  border: 1px solid cornsilk;
  background: white;
  padding: 8px;
  top: 16px;
  position: relative;
  right: -25.2vw;
  border-radius: 5px;
  box-shadow: 0 0 4px #f3bebe;
  font-size: 0.6em;
  font-weight: 600;
  z-index: 2;
}

.logoutbtn{
  border: none;
    background: aliceblue;
    color: blue;
    padding: 1px 4px;
    outline: none;
    box-shadow: 0 0 4px #8282fb;
    height: 23px;
    border-radius: 3px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 0.4em;
}

.expbtnOn{
  top: -25vh !important;
}

.exspan{
  position: relative;
    top: -6px;
}

.searchSl{
  display: flex;
  justify-content: space-around;
  padding: 0 2vw;
  position: relative;
  color: maroon;
  font-weight: 500;
  height: 8vh;
  align-items: center;
  background: #fce7e7;
  box-shadow: 0 0 8px maroon;
  border-bottom-right-radius: 0;
  z-index: 8;
}

.log1{
  font-size: 0.9em;
  margin-left: 4px;
  padding-top: 3px;
  font-weight: 900;
  color: blue;
}

.slideLeft{
  position: relative;
  animation: slideLeft 1.3s linear;
}

@keyframes slideLeft {
  0%{
    left: 20%;
  }
  100%{
    left: 0;
  }
}


.searchSl,
.searchS2 {
  font-size: 1.5em;
  color: maroon;
  font-weight: 500;
  
}

.seletsfd{
  background-color: #ffeded;
}

/* .searchSl::after {
  display: block;
  height: 2px;
  background-color: #800622;
  width: 93px;
  margin: 5px auto;
  content: '';
  box-shadow: 0 0 2px #e86b6b;
} */

.searchS2 {
  font-size: 1em;
  margin: 16px auto;
  margin-bottom: -13px;
}


.part {
  display: grid;
  grid-template-columns: 0.4fr 1fr;
}

.firstPart {
  
  background-color: #fce7e7;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 86vh;
  padding: 5vh;
  box-shadow: -1px 0 13px maroon;
}

.scndPart {
  /* padding-top: 30px; */
  position: relative;
  overflow: hidden;
  
}

.oiq1,
.oiq2 {
  padding: 6px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  cursor: pointer;
}

.oiq2 {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.slider {
  width: 14vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-width: 193px;
  margin: 26px auto;
  box-shadow: 0 0 4px #f17c7c;
  border-radius: 5px;
}

.selectedSlider {
  background: #d68c8c;
  box-shadow: 0 0 4px #f17c7c;
  font-weight: 500;
  border: 1px solid;
}

.goLeft {
  position: relative;
  animation: goLeft linear 0.7s;
}

.goRight {
  position: relative;
  animation: goRight linear 0.7s;
}

.pinclas {
  display: grid;
  grid-template-columns: 1fr;
  width: 228px;
  margin: 7px auto;
  margin-top: 26px;
  grid-gap: 10px;

}

@keyframes goLeft {
  0% {
    left: 7vw;
  }

  100% {
    left: 0;
  }
}

@keyframes goRight {
  0% {
    left: -7vw;
  }

  100% {
    left: 0;
  }
}

.pinclas label {
  font-size: 0.9em;
  color: maroon;
  font-weight: 600;
}

.pinclas input {
  width: 100%;
  padding: 5px;
  border-radius: 3px;
  border: none;
  border: 2px solid #d48585;
  outline: none;
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  height: 30px;
  transition: all 0.4s;
}

.pinclas input:focus{
  box-shadow: 0 0 6px #fab9b9;
  transition: all 0.4s;
}

.pinclagh {}

.go {
  width: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #d68c8c;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  font-size: 0.8em;
  color: #7e061d;
  font-weight: 700;
  cursor: pointer;
  height: 30px;
  outline: none;
  border: 1px solid #8f1919;
  border-left: none;
}

.go.bh {
  background: white;
  font-size: 1.2em;
  border: 2px solid #d68c8c;
  border-left: none;
}

.option {
  background: white;
  box-shadow: 0 10px 7px 2px #a54141;
  border-radius: 6px;
  padding: 14px;
  position: absolute;
  z-index: 6;
  max-height: 44vh;
  overflow-y: auto;
  width: 100%;
  top: 30px;
  font-size: 0.9em;
}

.keysta {
  font-size: 0.8em;
  text-align: left;
  padding: 4px;
  border-bottom: 1px solid #f3cfcf;
  font-weight: 500;
  cursor: pointer;
}

.drivg {
  width: 29vw;
  justify-content: space-between;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 11px;
}

.pinclagh {
  margin: 0;
  margin-bottom: 7px;
}

.gh65::placeholder {
  font-weight: 500;
}

.turna,
.turnb {
  position: relative;
  transition: all 0.4s;
}

.turna {
  transform: rotate(180deg);
}

.turnb {
  transform: rotate(0);
}

.bngf {
  font-size: 0.8em;
  padding: 10px;
  margin-bottom: -15px;
  font-weight: 500;
}

.modalkl {
  bottom: 7vh;
  position: fixed;
  text-align: center;
  background: #ffe0e6;
  height: 30vh;
  border-radius: 20px;
  width: 60vw;
  box-shadow: 0 -5px 10px 5px #8000002e;
  /* padding-top: 3vh; */
  animation: modalkl 0.6s linear;
  border-top: 1px solid #c16363;
  padding-top: 15px;
}

@keyframes modalkl {
  0% {
    height: 10vh;
  }

  100% {
    height: 34vh;
  }
}

.errobody{
  position: fixed;
  background: #00000070;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}


.errops{
  height: 63vh;
    background: white;
    width: 50vw;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 24px 5px #80000073;
    position: relative;
}

.moveIcon{
  height: 16vh;
}

.move{
  background: white;
  position: absolute;
  left: 0;
  top: 1%;
  height: 16vh;
  width: 16vh;
  animation: move 3s linear infinite;
}

@keyframes move {
  0%{
    left: 20%;
  }
  100%{
    left: 75%;
  }
}

.bnahyts{
  text-align: center;
}

.closgh{
  margin-top: 12px;
  border: 1px solid #480310;
  border-radius: 4px;
  padding: 2px 9px;
  background: white;
  cursor: pointer;
}

.opk{
  position: relative;
    top: 7px;
}

.vimicon{
  display: flex;
    justify-content: center;
    margin-bottom: 1vh;
    font-size: 8em;
    font-weight: 100;
    color: #da4242;
}

.errder{
  text-align: center;
  font-size: 1.1em;
  font-weight: 600;
  margin: 3vh auto;
  box-shadow: 0 0 3px maroon;
  padding: 3vh;
  border-radius: 3px;
  width: 89%;
}

.infoer{
  font-size: 0.8em;
  font-weight: 800;
  color: #dab4c3;
  margin-top: 3vh;
  display: flex;
  justify-content: center;
}

.fixbluffer{
  position: fixed;
  right: 9vw;
  z-index: 8;
  bottom: 46vh;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 0 18px 3px #9a4b7a;
  background: #800000c2;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.7em;
  border: none;
}



@media screen and (max-width: 1000px) {

  .fixbluffer{
    bottom: 29vh;
  }

  .searchSl{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .backto{
    margin-bottom: 0;
  }

  .loaderIcon{
    font-size: 3em;
  }

  .infoer{
    font-size: 0.7em;
    margin: 3vh 3vw;
    text-align: center;
  }

  .moveIcon{
    height: 10vh;
    margin-bottom: 3vh;
  }

  .move{
    height: 11vh;
    width: 11vh;
    margin-bottom: 3vh;
    left: 0%;
    animation: move 3s linear infinite ;
  }

  @keyframes move {
    0%{
      left: 0%;
    }
    100%{
      left: 75%;
    }
  }

  .vimicon{
    font-size: 5em;
  }

  .errder{
    margin: 1vh auto;
    padding: 1vh;
    font-size: 0.9em;
  }

  .errops{
    height: 38vh;
    width: 80vw;
    /* padding: 5vh; */
  }

  .pinclas {
    width: 40vw;
    /* grid-gap: 8px; */
  }

  .articleBody {
    background-color: transparent;
    height: 97vh;
    width: 100%;
    margin: 2.5vh;
    border-radius: 16px;
    margin-bottom: 0;
  }

  .part {
    grid-template-columns: 1fr;
  }

  .firstPart {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 14vh;
    padding: 2vh;
    margin: 1vh;
    box-shadow: 0px 0 7px black;
    border-radius: 3px;
  }

  .scndPart {
    background-color: white;
    /* height: 111vh; */
    margin-top: 17px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    position: relative;
    overflow: visible;
  }

  .whenNoList1 {
    height: 72vh !important;
    overflow: visible;
  }

  .whenNoList2 {
    height: 52vh !important;
    min-height: 300px !important;
  }

  .whenNoList3 {
    height: 95vh !important;
  }

  .optionListWhen4 {
    max-height: 18.5vh !important;
  }

  .drivg {
    width: 82vw;
  }


  .opt2,
  .opt1 {
    width: 56vw;
    left: -17vw;
  }

  .opt1 {
    left: 0vw;
  }

  .modalkl {
    width: 92vw;
    bottom: -4vh;
    left: 4vw;
    height: 34vh;
  }

  .artic3{
    margin-top: 13px;
    height: auto;
  }

.expbtn{
  display: none;
}
  .extras{
  margin-left: 0;
    
  }
}