.App {
  background: url(assets/c.jpg) repeat fixed center center;
  background: linear-gradient(180deg, #800622d9, #2f2424db), url(assets/c.jpg) repeat fixed center center;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.articleBody {
  background-color: white;
  overflow-x: hidden;
  overflow-y: auto;
  height: 80vh;
  width: 80vw;
  margin: 10vh;
  border-radius: 16px;
  box-shadow: 0 0 24px #800622;
  text-align: center;
}

.searchSl{
  /* text-align: center; */

}


.part{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.firstPart{
  /* background-color: #fff1f1; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  padding: 5vh;
  box-shadow: -1px 0 13px maroon;
}

.scndPart{
  /* background-color: #fff1f1; */
}

.slider{

}


@media screen and (max-width: 700px) {
  .articleBody {
    background-color: transparent;
    height: 87vh;
    width: 100%;
    margin: 4.5vh;
    border-radius: 16px;
  }

  .part{
    grid-template-columns: 1fr;
  }

  .firstPart{
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    padding: 2vh;
    margin: 1vh;
    box-shadow: 0px 0 7px black;
    border-radius: 3px;
  }


}