body {
  margin: 0;
  font-family: 'Gothic A1', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* color: #800622 */

*, *::after, *::before{
  box-sizing: border-box;
  color: maroon;
}

.flex{
  display: flex;
}

.relative{
  position: relative;
}

.flexBetween{
  display: flex;
  justify-content: center;
  align-items: center;
}